@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Fontes */
    --fonte-titulos: 'Lobster', sans-serif, serif;
    --fonte-texto: 'Poppins', sans-serif, serif;

    /* Header */
    --cor-PrimeiroESegundoNav: #747DFF59; /*opacidade = 35% */
    --cor-NomeHeader: #FFFFFF;
    --cor-NomeSegundoNav: #767F86;
    --cor-BotaoSegundoNav: #FFAD32;
    --cor-BordaSegundoNav: #F9F9F9;
    --cor-InputSegundoNav: #B8C0C7;


    /* Section Primary */
    --cor-titulo: #747DFF;

    /* Section Secundaria */
    --cor-spanpais: #3C4852;
}


header{
    background-image: url(/img/banner-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Ou qualquer outra posição que funcione melhor */
    height: 130vh;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--cor-PrimeiroESegundoNav);
}

.logo {
    width: 50%;
    padding: 10px;
}

.logo a{
    margin-left: 68px;
    font-family: 'Lobster', sans-serif, serif;
    font-weight: 400;
    font-size: 2.5rem;
}
.navbar {
    width: 60%;
    padding: 10px;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
}

.navbar ul li{
    display: inline-block;
    padding: 0 44px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif, serif;
    font-weight: 700;
   
    
}

.navbar ul li a:hover {
    color: var(--cor-BotaoSegundoNav);
    transition: 500ms ease-in-out;
}

.navbar ul li a:not(:hover) {
    transition: 500ms ease-in-out;
}

.title {
    display: flex;
    background-color: #0000004f;
    
}

.text {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
   height: 90vh;
   

   font-family: 'Poppins', sans-serif, serif;
   font-weight: 700;
   font-size: 36px;
   

}
/* .text h1{
    text-shadow: 1px 1px 40px #0000;
} */


header a{
    text-decoration: none;
    color: var(--cor-NomeHeader);
    top: 26px;
}

.form {
    display: flex;
    width: 100%;  
    padding-top: 100px;
    justify-content: center; 
    align-items: center;
    
}
form {
    background-color: var(--cor-BordaSegundoNav);
    padding: 30px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    gap: 30px;
    justify-content: center;

   font-size: 20.8px;
   color: var(--cor-NomeSegundoNav);
    font-family: 'Poppins', sans-serif, serif;
    font-weight: 400;

    
}

form .lugar{
   width: 485px;
   height: 50px;
   border: 1px solid var(--cor-InputSegundoNav);
   border-radius: 8px;
   font-size: 25px;
   color: var(--cor-NomeSegundoNav);
   display: block;
  
}
form .lugar:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

form .data{
    display: block;
    width: 289px;
    height: 50px;
    font-size: 20px;
    border: 1px solid var(--cor-InputSegundoNav);
    border-radius: 8px;
    color: var(--cor-NomeSegundoNav);
    padding: 10px;
}
form .data:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

form .button-search{
    width: 210px;
    height: 50px;
    margin-top: 30px;
    background-color: var(--cor-BotaoSegundoNav);
    border-radius: 5px;
    border: none;
    font-size: 20.8px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif, serif;
    color: var(--cor-NomeHeader);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

form .button-search:hover{
    background-color: #cf8c28;
    transition: .4s;
}

 .section-primary{
    margin-top: 200px;
    margin-left: 70px;
    
    display: flex;
    flex-direction: row;

    gap: 200px;
} 

section .apresentation h2{
    font-family: 'Lobster', sans-serif, serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: var(--cor-titulo);
}

section .apresentation hr{
   width: 340px;
   border: 4px solid #FFAD32;
   border-radius: 8px;
}

section .apresentation p{
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 20px;
    width: 710px;
}

section .apresentation a{
    width: 210px;
    background-color: var(--cor-BotaoSegundoNav);
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20.8px;
    font-family: var(--fonte-texto);
    font-weight: 700;
    line-height: 31.2px;
    height: 50px;
    border-radius: 5px;


    display: flex;
    justify-content: center;
    align-items: center;
}
section .apresentation a:hover{
    background-color: var(--cor-titulo);
    transition: .5s ease-in-out;
}
section .apresentation a:not(:hover){
    transition: .5s;
}
section .apresentation{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section .photos img{
   width: 300px;
   height: 300px;
   
  background-color: #fff;
   padding: 10px;
   box-shadow:  0px 4px 4px #00000081;

   border-radius: 8px;

   margin: 10px;
}


.section-secondary{
    background: linear-gradient(65.68deg, #FFE7C2 -4.19%, #BDACFF 104.38%);
}
.section-secondary .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
   
    padding-bottom: 100px;
}
.section-secondary  h2{
    font-family: var(--fonte-titulos);
    font-size: 36px;
    font-weight: 400;
    color: var(--cor-titulo);
    margin: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.section-secondary img{
    width: 400px;
    height: 360px;
    border-radius: 4px 4px 0 0;
    
}

.section-secondary .card{
    border: 1px solid #000;
    width: 424px;
    height: 536px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 2px #00000040;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;


}

.section-secondary .card h3{
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--cor-spanpais);
    margin-left: 25px;
   

}
 .section-secondary .pais{
    font-family: 'Poppins', sans-serif, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-spanpais);
}
.section-secondary .card p{
    font-family: var(--fonte-texto);
   font-weight: 400px;
   font-size: 14px;
   line-height: 21px;
   color: var(--cor-spanpais);
   width: 400px;
    height: 42px;
    margin-left: 25px;
} 
.section-secondary .card .valor{
    font-family: var(--fonte-texto);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--cor-spanpais);
    margin-left: 25px;
}
.section-secondary .card .valorPromocao{
    font-family: var(--fonte-texto);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: line-through;
    color: var(--cor-spanpais);
}
.section-secondary .card a{
    background-color: var(--cor-BotaoSegundoNav);
    text-decoration: none;
    color: #FFFFFF;

    font-family: var(--fonte-texto);
    font-size: 16.39px;
    font-weight: 700;
    line-height: 24.58px;

    padding: 8px 20px;
    border-radius: 6.11px;

    margin-left: 30px;
}
.section-secondary .card a:hover{
    background-color: var(--cor-titulo);
    transition: .5s ease-in-out;
}
.section-secondary .card a:not(:hover){
    transition: 0.5s;
}
.section-secondary h3, p, span{
    align-self: flex-start;
}

section .textos-section-three{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
    margin-top: 12%;
 }
 section .textos-section-three h2{
     font-family: 'Lobster', sans-serif, serif;
     font-size: 36px;
     font-weight: 400;
     line-height: 45px;
     color: var(--cor-titulo);
    
     width: 315px;
     height: 45px;

     padding-bottom: 80px;
  
 
 
 }
 section .textos-section-three p{
     font-family: 'Poppins', sans-serif, serif;
     font-size: 20px;
     font-style: italic;
     font-weight: 400;
     color: var(--cor-NomeSegundoNav);
 
     max-width: 1028px;
     
     margin: 0 25%;
     text-align: center;
 }
 
 
 section .photo-user{
     display: flex;
     justify-content: space-between;
     
     margin-top: 40px;

     padding-bottom: 80px;
 }
 
 section .avaliacao-user img{
    
     width: 232px;
     height: 232px;
     border: 4px solid var(--cor-BotaoSegundoNav);
     border-radius: 50%;
     
 }
 section .avaliacao-user p{
     text-align: center;
     font-family: 'Poppins', sans-serif, serif;
     font-size: 20px;
     font-style: italic;
     font-weight: 700;
     line-height: 30px;
     color: var(--cor-NomeSegundoNav);
     padding-top: 20px;
 
 }
 section .avaliacao-user span{
     font-family: 'Poppins', sans-serif, serif;
     font-size: 20px;
     font-style: italic;
     font-weight: 400;
     line-height: 30px;
 }
 
 section .photo-user .setas{
     width: 36px;
     height: 52px;
 
     background-color: var(--cor-InputSegundoNav);
     border-radius: 8px;
 
     font-family: 'Puritan', sans-serif, serif;
     font-size: 36px;
     font-weight: 700;
     line-height: 40.5px;
    color: #FFFFFF;
 
    display: flex;
    justify-content: center;
    align-items: center;
     cursor: pointer;
    margin: 30px 200px;
 }
 
 footer{
     background-color: var(--cor-spanpais);
     
     width: 100%;
     height: 330px;
     
 
    
    
 }

 footer .footer-completo{
    display: flex;
    justify-content: space-between;
   align-items: center;

   margin: 0px 5%;
 }
 .retangulo-footer{
 
     background-color: var(--cor-titulo);
     width: 100%;
     height: 79px;
     
 
 }

 footer .primeira-informacao-footer h2{
     width: 233px;
     height: 45px;
 
     font-family: 'Lobster', sans-serif, serif;
     font-size: 36px;
     font-weight: 400;
     line-height: 45px;
     color: var(--cor-InputSegundoNav);
 }
 
 footer .primeira-informacao-footer span{
     width: 255px;
     height: 24px;
 
     font-family: 'Poppins', sans-serif, serif;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     color: var(--cor-InputSegundoNav);
 }
 
 footer .primeira-informacao-footer p{
     width: 333px;
     height: 24px;
     
     font-family: 'Poppins', sans-serif, serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     color: var(--cor-InputSegundoNav);
     
 }
 footer .primeira-informacao-footer .direitos-reservados{
     width: 337px;
     height: 48px;
 
     font-family: 'Poppins', sans-serif, serif;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
 
 }
 footer .segunda-informacao-footer h2{
     width: 201px;
     height: 30px;
    
 
     font-family: 'Poppins', sans-serif, serif;
     font-size: 20px;
     font-weight: 700;
     line-height: 30px;
     color: var(--cor-InputSegundoNav);
 }
 footer .segunda-informacao-footer p{
     font-family: 'Poppins', sans-serif, serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 23px;
     color: var(--cor-InputSegundoNav);
 
 }
 footer .input-link-footer h2{
     font-family: 'Poppins', sans-serif, serif;
     font-size: 20px;
     font-weight: 700;
     line-height: 30px;
     color: var(--cor-InputSegundoNav);   
 }
 footer .input-link-footer input{
     width: 309px;
     height: 37px;
 
     box-shadow: 0px 4px 4px 0px #00000040;
 
     border: none;
     
 }
 footer .input-footer{
    display: flex;
    gap: 10px;
 }
 footer  input[type="text"] {
    padding: 10px; 
    font-size: 18px;
}
 footer .input-link-footer input:focus{
     box-shadow: 0 0 0 0;
     outline: 0;
 }
 footer .input-link-footer input::placeholder{
     width: 133px;
     height: 21px;
 
     font-family: 'Poppins', sans-serif, serif;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
     color: var(--cor-InputSegundoNav);

    
 }
 
 footer .input-link-footer button{
     width: 81px;
     height: 37px;
     
     border-radius: 5px;
     background-color: var(--cor-BotaoSegundoNav);
     border: none;
     color: #FFFFFF;
 
     font-family: 'Poppins', sans-serif, serif;
     font-size: 16px;
     font-weight: 700;
     line-height: 24px;
     cursor: pointer;
     
 }

 footer .primeira-informacao-footer{
    margin: 30px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
 } 

 footer .segunda-informacao-footer{
    margin: 30px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
 } 

 footer .input-link-footer{
    margin: 30px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

 } 

 footer .links-footer img{
    border: 2px solid var(--cor-InputSegundoNav);
    
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    width: 37px;
    height: 37px;


 }

 footer .links-footer img:hover{
    border-color: var(--cor-BotaoSegundoNav);
    
    
    transition: .5s ease-in-out;
 }

 footer .links-footer img:not(:hover){
    transition: 0.4s;
 }

 footer hr{
    width: 398px;
    height: 0px;
    border: 1px solid #B8C0C7;
 }

 @media screen and (max-width: 768px) {
    header {
        height: 100vh; /* Reduz a altura para garantir que a imagem seja visível em telas menores */
    }
}