@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Header */
    --cor-PrimeiroESegundoNav: #747DFF59; /*opacidade = 35% */
    --cor-NomeHeader: #FFFFFF;
    --cor-NomeSegundoNav: #767F86;
    --cor-BotaoSegundoNav: #FFAD32;
    --cor-BordaSegundoNav: #F9F9F9;
    --cor-InputSegundoNav: #B8C0C7;

}


header{
    background-image: url(/img/banner-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;    
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--cor-PrimeiroESegundoNav);
}

.logo {
    width: 50%;
    padding: 10px;
}

.logo a{
    margin-left: 68px;
    font-family: 'Lobster', sans-serif, serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.navbar {
    width: 60%;
    padding: 10px;
}

.navbar ul{
    list-style-type: none;
}

.navbar ul li{
    display: inline-block;
    padding: 0 44px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif, serif;
    font-weight: 700;
   
}

.navbar ul li a:hover {
    color: var(--cor-BotaoSegundoNav);
    transition: 500ms ease-in-out;
}

.navbar ul li a:not(:hover) {
    transition: 500ms ease-in-out;
}

.title {
    display: flex;
    background-color: #0000004f;
}

.text {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   color: #FFFFFF;
   height: 90vh;
}


header a{
    text-decoration: none;
    color: var(--cor-NomeHeader);
    top: 26px;
}

.form {
    display: flex;
    width: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
form {
    background-color: var(--cor-BordaSegundoNav);
    padding: 30px;
    width: 90%;
    border-radius: 8px;
}